@model IEnumerable<Storekeeper.Dtos.Products.ProductDto>

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<p>
    <a asp-action="Create">Добавить приход</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Склад</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNomenclatureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
